// Fantasy

@font-face {
  font-family: 'trees';
  src: url('../../assets/fonts/fantasy/trees.ttf');
}

@font-face {
  font-family: 'beyond-wonderland';
  src: url('../../assets/fonts/fantasy/beyond-wonderland.ttf');
}

@font-face {
  font-family: 'underworld';
  src: url('../../assets/fonts/fantasy/underworld.ttf');
}

@font-face {
  font-family: 'agreloy';
  src: url('../../assets/fonts/fantasy/agreloy/agreloy.ttf');
}

@font-face {
  font-family: 'agreloy-out';
  src: url('../../assets/fonts/fantasy/agreloy/agreloy-out.ttf');
}


// Rounded

@font-face {
  font-family: 'dunkin';
  src: url('../../assets/fonts/rounded/dunkin.ttf');
}

@font-face {
  font-family: 'gaban-outline-regular';
  src: url('../../assets/fonts/rounded/gaban-outline-regular.ttf');
}

@font-face {
  font-family: 'glamourgirl';
  src: url('../../assets/fonts/rounded/glamourgirl.ttf');
}

@font-face {
  font-family: 'billodream';
  src: url('../../assets/fonts/rounded/billodream.ttf');
}

@font-face {
  font-family: 'konigsberg';
  src: url('../../assets/fonts/rounded/konigsberg.otf');
}

@font-face {
  font-family: 'alba';
  src: url('../../assets/fonts/rounded/alba/alba.ttf');
}

@font-face {
  font-family: 'alba-bold';
  src: url('../../assets/fonts/rounded/alba/albam.ttf');
}

@font-face {
  font-family: 'alba-bevel';
  src: url('../../assets/fonts/rounded/alba/albas.ttf');
}


// Scifi

@font-face {
  font-family: 'radar';
  src: url('../../assets/fonts/scifi/radar.ttf');
}

@font-face {
  font-family: 'requiem';
  src: url('../../assets/fonts/scifi/requiem.ttf');
}

@font-face {
  font-family: 'saucer';
  src: url('../../assets/fonts/scifi/saucer.ttf');
}

@font-face {
  font-family: 'newyork';
  src: url('../../assets/fonts/scifi/newyork.ttf');
}

// Blocky

@font-face {
  font-family: 'lovebox';
  src: url('../../assets/fonts/blocky/lovebox.ttf');
}
